.popup__button-close {
  border: 0;
  outline: 0;
  position: absolute;
  width: 32px;
  height: 32px;
  right: -35px;
  top: -35px;
  cursor: pointer;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: .3s;
  background-image: url("../../../images/Close_Icon.svg");
}

.popup__button-close:hover {
  opacity: .6;
}

@media screen and (max-width: 425px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    right: 0px;
}
}